<% include('../layouts/layout.ejs', { title: 'Register', content: 'Here is the registration form' }) %>

<form action="/user/register" method="POST">
    <h2>Register</h2>
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
    <button type="submit">Register</button>
    <!-- Back to Landing Page Button -->
    <br>
    <a href="/">Back to Landing</a>
</form>
